h2 {
    margin-bottom: 0;
    padding-bottom: 10px;
    line-height: 1;
}

.page-area-2 p {
    font-size: larger;
    /* padding-bottom: var(--sm-padding); */
    line-height: normal;
    padding-bottom: 30px;
}

.page-area-2.home {
    display: flex;
    flex-direction: column;
    text-align: center;

}

@media screen and (max-width: 900px) {
    .page-area-2 p {
        font-size: larger;
        padding-bottom: var(--sm-padding);
        line-height: normal;
    }

    .profile-pic.secondary {
        margin-top: var(--sm-padding);
    }
}