.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-area-2.projects p {
    text-align: center;
    line-height: normal;
}

/* .projects > * {
    padding: 10px;
} */

.bottom-message {
    justify-self: center;
}

.page-area-2.projects h2 {
    /* margin-bottom: 0;
    padding-bottom: 0; */
    padding-bottom: var(--sm-padding);
    justify-self: center;
    text-align: center;
}

h1 {
    padding-bottom: var(--default-padding);
    margin-bottom: var(--sm-padding);
}

.page-area-2.projects ul {
    width: 100%;
    align-self: center;
    list-style-type: none;
    text-align: center;

}

.page-area-2.projects li {
    padding-bottom: 10px;
}

.page-area-2.projects li a {
    color: var(--light-neutral-color);
    font-weight: bold;
    font-size: 20px;
}

.page-area-2.projects li a:hover {
    color: var(--light-neutral-color);
    text-decoration: underline;
}

.add-top-padding {
    padding-top: 30px;
}


#design-p {
  padding-top: 10px;
}

#design-link {
  font-weight: bold;
  color: var(--secondary-color);
}

@media screen and (max-width: 900px) {
    .page-area-2 .projects {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* .page-area-2.projects p {
        text-align: center;
    } */
    
    .page-area-2.projects ul {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .page-area-2.projects li {
        padding: 5px;
    }
    
    .page-area-2.projects li a {
        color: var(--light-neutral-color);
        font-weight: bold;
        font-size: 18px;
    }

    /* .page-area-2.projects li a:hover {
        text-decoration: underline;
    } */
}