p b {
  color: var(--accent-color);
}

main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  max-width: 100vw;
}

.menu-icon {
  width: 36px;
  height: 33px;
  min-width: 33px;
}

.menu-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--default-padding);
  padding: 10px;
}

.menu-button:hover {
  background-color: transparent;
}

.left-area, .right-area {
  min-height: 100vh;
}

.right-area {
  width: var(--container1-width);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100vw;
}

.logo-area.primary, .logo-area.secondary {
  display: flex;
  justify-content: center;
}

.logo-area.secondary {
  /* display: none; */
  display: flex;
  /* background-color: var(--secondary-color);
  height: 100%;
  width: 100%; */
}


.container2, .container3, .page-area-1 {
  padding: var(--default-padding);
}

.container2.primary .page-area-2 {
  margin-top: var(--default-padding);
}

header {
  background-color: var(--secondary-color);
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  margin-top: var(--right-area-margin);
  margin-bottom: 20px;
  padding: 0;
  max-width: 100vw;
}



.secondary-logo-replacement {
  height: 100%;
  width: 100%;
}

nav {
  padding: 0;
}

nav.primary ul {
  list-style: none;
  display: flex;
  width: 100%;
  height: 50px;
  text-align: center;
  justify-self: flex-end;
}

nav.primary .header-link {
  width: 100px;
  height: 100%;
}

nav.primary .header-link p, nav.primary .header-link a {
  color: var(--highlight-color);
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: var(--title-fonts);
  font-weight: bold;
  letter-spacing: var(--default-letter-spacing);
}

nav.primary .header-link a {
  background-color: var(--secondary-dark-color);
  font-weight: normal;
}

nav.primary .header-link.current p {
  color: var(--secondary-color);
  background-color: var(--highlight-color);
  font-weight: bold;
}

.header-link.bold {
  font-weight: bold;
}

nav.secondary {
  padding-top: 15px;
}

nav.secondary .header-link {
  padding-bottom: 30px;
}

nav.secondary .header-link p, nav.secondary .header-link a {
  font-size: 23px;
  color: var(--highlight-color);
}

nav.secondary .header-link.current p {
  font-weight: bold;
}

nav.secondary .header-link p:hover, nav.secondary .header-link a:hover{
  text-decoration: underline;
}

.resume-link:hover {
  cursor: pointer;
}

.drawer-background {
  background-color: var(--secondary-color);
}

.drawer-title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: var(--title-fonts);
  letter-spacing: var(--title-letter-spacing);
}

.page-area-1 p, .page-area-2 p {
  padding-bottom: var(--sm-padding);
}

.container1 {
  width: 100%;
  height: 100%;
  margin: 0;
  justify-self: flex-end;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.left-area {
  width: var(--container2-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  background-color: var(--primary-color);
  margin: 0;
  justify-self: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  color: var(--light-neutral-color);
}

.container2.primary {
  width: 100%;
  height: 100%;
}

.container2.secondary {
  width: 100%;
  display: none;
}

.container3 {
  width: 100%;
  background-color: var(--highlight-color);
  color: var(--dark-neutral-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.react-made b {
  color: var(--secondary-color);
}

.react-made a:hover {
  text-decoration: underline;
}

.copyright {
  color: var(--dark-neutral-color);
  margin-bottom: 5px;
  font-weight:bold;
}

/* Change layout style for mobile or tablet when vertical - change menu to hamburger */
/* @media screen and (orientation:portrait) {
  
} */

/* Change header to hamburger menu too if it's on a phone */
@media screen and (max-width: 900px) {
  header {
    margin-top: 0;
    margin-bottom: 0;
  }

  .right-area {
    width: 100%;
  }

  /* .logo-area.primary {
    display: none;
  }
  
  .logo-area.secondary {
    display: flex;
  } */

  .secondary-logo-replacement {
    display: none;
  }

  nav.primary {
    display: none;
  }

  .left-area {
    display: none;
  }

  .container2.primary {
    display: none;
    width: 0%;
  }
  .container2.secondary {
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .secondary-nav {
    display: none;
  }
}
