#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav {
  background-color: var(--secondary-color);
}

.header-link {
  width: 100px;
}

.header-link p {
  color: var(--highlight-color);
  background-color: var(--secondary-color);
}

.header-link.current p {
  color: var(--secondary-color);
  background-color: var(--highlight-color);
  font-weight: bold;
}